* {
    text-decoration: none;
    margin: auto;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    text-decoration: #4d621b;
    border: 3px solid #dedede;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}


.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'optima';
    color: #4d621b;
}

.kolom {
    margin-left: 50px;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'cambria';
    color: #FFFFFF;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #4d621b;
    z-index: 1;
    border-bottom:1px solid #809f38;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color:#2d3d08;
}

section {
    width: 100%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

section img {
    transform: translateX(50x);
    transition: 2s;
}

.kanan {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kanan .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'optima';
    color: #809f38; 
}

.kiri {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.kiri .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'optima';
    color: #809f38;
}

h2 {
    font-family: 'optima';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #2d3d08;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background:#2d3d08;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background:#809f38;
    text-decoration: none;
}

a.tbl-pink {
    background: #2d3d08;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #809f38;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
    border: 1px solid #2d3d08;
}

.kartu-tutor p {
    font-family: 'optima';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #2d3d08;
}

.kartu-tutor h1 {
    font-size: medium;
    font-weight: normal;
    font-family: 'optima;
}

.ukuran {
    text-align: center;
    width: 100%;
}

.gram .kemasan {
    font-size: 20px;
    font-weight: bold;
    font-family: 'optima';
    color: #2d3d08;
}

.ukuran-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.macam-ukuran {
    width: 20%;
    margin: 0 auto;
}

.macam-ukuran img {
    width: 80%;
    border: 1px solid #2d3d08;
}

.macam-ukuran p {
    font-family: 'optima';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #2d3d08;
}

.macam-ukuran h1 {
    font-size: medium;
    font-weight: normal;
    font-family: 'optima';
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin:auto;
    text-align: center;
}

.kartu-partner p {
    margin: auto;
    text-align: center;
}

.kartu-partner img {
    width: 300px;
    border-radius: 50%;
    margin: auto;
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
    border-top: 2px solid #2d3d08;
    margin-bottom: 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'optima';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #2d3d08;
    width: 100%;
    line-height: 50px;
}


.pesan {
    margin: auto;
}


.pesan .cara-pesan {
    font-size: 50px;
    font-weight: bold;
    font-family: 'optima';
    color: #2d3d08;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 0px;
    background-color: #4d621b;
    color: #FFFFFF;
}

a.tbl-kuning {
    background:#2d3d08;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-kuning:hover {
    background:#809f38;
    text-decoration: none;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    
    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    .ukuran-list {
        width: 50%;
    }

    .macam-ukuran {
        width: 50%;
    }

    .pesan {
        width: 100%;
        height: auto;
        display: block;
    }
}